@{
    ViewData["Title"] = "Requisiciones Talento";
}
<section class="boxesScreen">
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <div class="formulario-pantallas" style="height:90%; width:80%">
        <img src="~/images/encaRequisicionesTalento.png" style="max-width:46%"/>
        <hr />
        <h7 id="accionEstatus"></h7>
        <form id="screenForm" asp-controller="GestionTalentos" asp-action="RequisicionesTalento">
            <nav class="main-menu">
                <ul>
                    <li>
                        <button id="boton1" class="botones-menu-lateral" title="Nuevo" type="button" onclick="formEnable(1, 1, 1, 1, 1, 1, 1, 1); buttonsEnable(1, 0, 1, 0, 0, 1); modifyReturn(0)">
                            <i class="fa fa-plus fa-2x"></i>
                        </button>
                    </li>
                    <li class="has-subnav">
                        <button id="boton2" class="botones-menu-lateral" disabled title="Eliminar" type="button" onclick="deleteSubmit()">
                            <i class="fa fa-trash-o fa-2x"></i>
                        </button>
                    </li>
                    <li class="has-subnav">
                        <button id="boton3" class="botones-menu-lateral" disabled title="Guardar" type="button" onclick="approveSubmit()">
                            <i class="fa fa-floppy-disk fa-2x"></i>
                        </button>
                    </li>
                    <li class="has-subnav">
                        <button id="boton4" class="botones-menu-lateral" title="Búsqueda" type="button" onclick="displayList(); filterTable()">
                            <i class="fa fa-magnifying-glass fa-2x"></i>
                        </button>
                    </li>
                    <li class="has-subnav">
                        <button id="boton5" class="botones-menu-lateral" title="Reporte" type="button" onclick="exportPDF('tablaPDF')">
                            <i class="fa fa-book fa-2x"></i>
                        </button>
                    </li>
                    <li>
                        <button asp-controller="GestionTalentos" asp-action="Index" id="boton6" class="botones-menu-lateral boton-regresar" title="Regresar">
                            <i class="fa fa-arrow-left fa-2x"></i>
                        </button>
                    </li>
                </ul>
            </nav>
            <div id="form" style="height: 360px; margin-top: 0%; background-color: #fff">
                <input id="inputField1" name="clave" type="hidden">
                <div class="inputBox" style="top: 2%; width: 47%; display: inline-block">
                    <select id="inputField2" name="puesto" asp-items="ViewBag.Puestos" style="position: relative; width: 90%; background: #c9c9c9; outline: none; padding: 25px 10px 7.5px; border-radius: 0px; color: #000; font-weight: 500; font-size: 1em; border: 0px; border-bottom: 2px solid #000">
                        <option value="">Puesto</option>
                    </select>
                </div>
                <div class="inputBox" style="top: 2%; width: 47%; display: inline-block">
                    <select id="inputField3" name="empresa" asp-items="ViewBag.Empresas" style="position: relative; width: 90%; background: #c9c9c9; outline: none; padding: 25px 10px 7.5px; border-radius: 0px; color: #000; font-weight: 500; font-size: 1em; border: 0px; border-bottom: 2px solid #000">
                        <option value="">Empresa</option>
                    </select>
                </div>
                <div class="inputBox" style="top: 2%; width: 47%; display: inline-block">
                    <select id="inputField4" name="departamento" asp-items="ViewBag.Departamentos" style="position: relative; width: 90%; background: #c9c9c9; outline: none; padding: 25px 10px 7.5px; border-radius: 0px; color: #000; font-weight: 500; font-size: 1em; border: 0px; border-bottom: 2px solid #000">
                        <option value="">Departamento</option>
                    </select>
                </div>
                <div class="inputBox" style="top: 2%; width: 47%; display: inline-block">
                    <select id="inputField5" name="oficina" style="position: relative; width: 90%; background: #c9c9c9; outline: none; padding: 25px 10px 7.5px; border-radius: 0px; color: #000; font-weight: 500; font-size: 1em; border: 0px; border-bottom: 2px solid #000" asp-items="@(new SelectList(string.Empty, "Value", "Text"))">
                    </select>
                </div>
                <div class="inputBox" style="top: 2%; width: 47%; display: inline-block">
                    <select id="inputField6" name="tipo" asp-items="ViewBag.Tipos" style="position: relative; width: 90%; background: #c9c9c9; outline: none; padding: 25px 10px 7.5px; border-radius: 0px; color: #000; font-weight: 500; font-size: 1em; border: 0px; border-bottom: 2px solid #000">
                        <option value="">Tipo de Puesto</option>
                    </select>
                </div>
                <div class="inputBox" style="top: 2%; width: 47%; display: inline-block">
                    <select id="inputField7" name="modalidad" asp-items="ViewBag.Modalidades" style="position: relative; width: 90%; background: #c9c9c9; outline: none; padding: 25px 10px 7.5px; border-radius: 0px; color: #000; font-weight: 500; font-size: 1em; border: 0px; border-bottom: 2px solid #000">
                        <option value="">Modalidad</option>
                    </select>
                </div>
                <div class="inputBox" style="top: 2%">
                    <textarea name="descripcion" rows="3" disabled id="inputField8" maxlength="500" required></textarea><i>Descripcion del Requerimiento</i>
                </div>
            </div>
            <input id="estatusInput" name="estatus" type="text" value="1" hidden />
        </form>
        <div>
            </div>
        </div>
    </div>
    <div id="tablaPDF">
        <div id="listModal" class="modal">
            <div class="listModal-content">
                <span id="closeButton" class="closeList">&times;</span>
                <div id="contenedorTituloTabla">
                    <img id="encabezadoBusqueda" src="~/images/encaBusquedaSelec.png" />
                </div>
                <hr />
                <input id="searchBar" type="text" placeholder="Buscar" />
                <label for="filtro">Filtrar por:</label>
                <select name="filtro" id="selectFiltro">
                    <option value="folioTabla">folio</option>
                    <option value="puestoTabla">puesto</option>
                    <option value="empresaTabla">empresa</option>
                    <option value="departamentoTabla">departamento</option>
                    <option value="oficinaTabla">oficina</option>
                    <option value="tipoTabla">tipo</option>
                    <option value="modalidadTabla">modalidad</option>
                    <option value="descripcionTabla">descripcion</option>
                </select>
                <button type="button" id="exportExcel" onclick="tableToCSV()" class="">Exportar a Excel</button><br />
                <br />
                <table id="tablaPantallas" class="tableStyle">
                    <thead>
                        <tr id="encabezados">
                            <th>Folio</th>
                            <th>Puesto</th>
                            <th>Empresa</th>
                            <th>Departamento</th>
                            <th>Oficina</th>
                            <th>Tipo</th>
                            <th>Modalidad</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td id="folioTabla">@item.Folio</td>
                                <td id="puestoTabla">@item.Puesto</td>
                                <td id="empresaTabla">@item.Empresa</td>
                                <td id="departamentoTabla">@item.Departamento</td>
                                <td id="oficinaTabla">@item.Oficina</td>
                                <td id="tipoTabla">@item.Tipo</td>
                                <td id="modalidadTabla">@item.Modalidad</td>
                                <td id="descripcionTabla">@item.Descripcion</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $("#inputField3").change(function () {
            console.log($("#inputField3").val());
            $.getJSON("/GestionTalentos/ListadoOficinas", { cid: $("#inputField3").val() }, function (e) {
                var row = "";
                $("#inputField5").empty();
                row += '<option value="">Seleccione Oficina</option>';
                $.each(e, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                cont = 1;
                $("#inputField5").html(row);
            });
        });
        $(document).ready(function () {
            console.log($("#inputField3").val());
            $.getJSON("/GestionTalentos/ListadoOficinas", { cid: $("#inputField3").val() }, function (e) {
                var row = "";
                $("#inputField5").empty();
                row += '<option value="">Seleccione Oficina</option>';
                $.each(e, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                cont = 1;
                $("#inputField5").html(row);
            });
        });
        $('#screenForm').on('reset', function (e) {
            setTimeout(function () {
                $.getJSON("/GestionTalentos/ListadoOficinas", { cid: $("#inputField3").val() }, function (e) {
                    var row = "";
                    $("#inputField5").empty();
                    row += '<option value="">Seleccione Oficina</option>';
                    $.each(e, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    cont = 1;
                    $("#inputField5").html(row);
                });
            });
        });
    });
</script>
