@{
    ViewData["Title"] = "Empresas";
}
<section class="boxesScreen">
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <div class="formulario-pantallas" style="height: 90%">
        <img src="~/images/encaEmpresas.png" style="max-height: 20%" />
        <hr />
        <h7 id="accionEstatus" style="top: -5%"></h7>
        <form id="screenForm" asp-controller="ConfiguracionGeneral" asp-action="Empresas" style="margin-top: -4%">
            <nav class="main-menu">
                <ul>
                    <li>
                        <button id="boton1" class="botones-menu-lateral" title="Nuevo" type="button" onclick="formEnable(1, 1, 1, 1, 1, 1, 1, 1); buttonsEnable(1, 0, 1, 0, 0, 1); modifyReturn(0)">
                            <i class="fa fa-plus fa-2x"></i>
                        </button>
                    </li>
                    <li class="has-subnav">
                        <button id="boton2" class="botones-menu-lateral" disabled title="Eliminar" type="button" onclick="deleteSubmit()">
                            <i class="fa fa-trash-o fa-2x"></i>
                        </button>
                    </li>
                    <li class="has-subnav">
                        <button id="boton3" class="botones-menu-lateral" disabled title="Guardar" type="button" onclick="approveSubmit()">
                            <i class="fa fa-floppy-disk fa-2x"></i>
                        </button>
                    </li>
                    <li class="has-subnav">
                        <button id="boton4" class="botones-menu-lateral" title="Búsqueda" type="button" onclick="displayList(); filterTable()">
                            <i class="fa fa-magnifying-glass fa-2x"></i>
                        </button>
                    </li>
                    <li class="has-subnav">
                        <button id="boton5" class="botones-menu-lateral" title="Reporte" type="button" onclick="exportPDF('tablaPDF')">
                            <i class="fa fa-book fa-2x"></i>
                        </button>
                    </li>
                    <li>
                        <button asp-controller="ConfiguracionGeneral" asp-action="Index" id="boton6" class="botones-menu-lateral boton-regresar" title="Regresar">
                            <i class="fa fa-arrow-left fa-2x"></i>
                        </button>
                    </li>
                </ul>
            </nav>
            <div id="form" style="height: 430px; margin-top: 0%">
                <div class="inputBox" id="inputField1Box" style="top: 2%; width: 47%; display: inline-block">
                    <textarea name="clave" rows="1" disabled id="inputField1" maxlength="10" required></textarea><i>Clave</i>
                </div>
                <div class="inputBox" id="inputField1Box" style="top: 2%; width: 47%; display: inline-block">
                    <textarea name="rfc" rows="1" disabled id="inputField7" maxlength="13" required></textarea><i>RFC</i>    
                </div>
                <div class="inputBox" style="top: 2%">
                    <textarea name="nombre" rows="1" disabled id="inputField2" maxlength="50" required></textarea><i>Nombre</i>
                </div>
                <div class="inputBox" style="top: 2%">
                    <textarea name="direccion" rows="1" disabled id="inputField3" maxlength="150" required></textarea><i>Direccion</i>
                </div>
                <div class="inputBox" style="top: 2%">
                    <textarea name="cp" rows="1" disabled id="inputField4" maxlength="5" required></textarea><i>Codigo Postal</i>
                </div>
                <div class="inputBox" style="top: 2%">
                    <textarea name="ciudad" rows="1" disabled id="inputField5" maxlength="50" required></textarea><i>Ciudad</i>
                </div>
                <div class="inputBox" style="top: 2%">
                    <textarea name="estado" rows="1" disabled id="inputField6" maxlength="50" required></textarea><i>Estado</i>
                </div>
            </div>
            <input id="estatusInput" name="estatus" type="text" value="1" hidden />
        </form>
    </div>
    <div id="tablaPDF">
        <div id="listModal" class="modal">
            <div class="listModal-content">
                <span id="closeButton" class="closeList">&times;</span>
                <div id="contenedorTituloTabla">
                    <img id="encabezadoBusqueda" src="~/images/encaBusquedaSelec.png" />
                </div>
                <hr />
                <input id="searchBar" type="text" placeholder="Buscar" />
                <label for="filtro">Filtrar por:</label>
                <select name="filtro" id="selectFiltro">
                    <option value="claveTabla">clave</option>
                    <option value="nombreTabla">nombre</option>
                    <option value="direccionTabla">direccion</option>
                    <option value="cpTabla">CP</option>
                    <option value="ciudadTabla">ciudad</option>
                    <option value="estadoTabla">estado</option>
                    <option value="rfcTabla">RFC</option>
                </select>
                <button type="button" id="exportExcel" onclick="tableToCSV()" class="">Exportar a Excel</button><br />
                <br />
                <table id="tablaPantallas" class="tableStyle">
                    <thead>
                        <tr id="encabezados">
                            <th>Clave</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>CP</th>
                            <th>Ciudad</th>
                            <th>Estado</th>
                            <th>RFC</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td id="claveTabla">@item.Clave</td>
                                <td id="nombreTabla">@item.Nombre</td>
                                <td id="direccionTabla">@item.Direccion</td>
                                <td id="cpTabla">@item.CP</td>
                                <td id="ciudadTabla">@item.Ciudad</td>
                                <td id="estadoTabla">@item.Estado</td>
                                <td id="rfcTabla">@item.RFC</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
</section>
